<a role="@(OnClick is null && OnClickAsync is null ? "link" : "button")" href="@href" target="@target" class="@(InlineText ? null : "btn btn-primary")" @onclick="Callback"
   style="@($"{(InlineText ? $"color: {Color ?? "#1b6ec2"}; text-decoration-line: underline; padding-right: 1em;" : $"background-color: {Color ?? "#1b6ec2"};")} {(Round ? "border-radius: 25px; " : "")} {style}")">
    @ChildContent
</a>


@code {

    // ReSharper disable once InconsistentNaming
    [Parameter]
    public string? href { get; set; }

    // ReSharper disable once InconsistentNaming
    [Parameter]
    public string? target { get; set; }

    // ReSharper disable once InconsistentNaming
    [Parameter]
    public string? style { get; set; }

    [Parameter]
    public required RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Color { get; set; }

    [Parameter]
    public Action? OnClick { get; set; }

    [Parameter]
    public Func<Task>? OnClickAsync { get; set; }

    [Parameter]
    public bool Round { get; set; }

    [Parameter]
    public bool InlineText { get; set; }

    private async Task Callback() {
        OnClick?.Invoke();
        if (OnClickAsync is not null)
            await OnClickAsync.Invoke();
    }

}